header.header-top {
    background-color: $header-bg-color ;
    width: 100%;

    section.container {
        height: 100%;

        @include flex(row, space-between, center);
        @include container(width, margin);

        img {
            height: 85px;
        }
    }

    ul {
        list-style-type: none;
        @include flex(row, center, center);
        flex-wrap: wrap;

        a {
            padding: .7rem;
            text-transform: uppercase;
            font-size: .77rem;
            font-family: sans-serif;
            font-weight: bolder;

            &.active {
                border-bottom: 5px solid black;
                color: $header-text-color;
            }

            &:hover {
                color: $header-text-color;
                cursor: pointer;
            }

        }
    }
}